@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');
@import url('https://fonts.cdnfonts.com/css/hk-groteks');

html,
body {
  background-color: pink;
  margin: 0;
  padding: 0;

}

:root {
  --primary-color: #122223;
  --secondary-color: #FFF;
  --tertiary-color: #81B59F;
  --accent-color: #F2FEDC;
  --attention-color: #E03D5A;
  --neutral-color: #F0C7B9;

  --primary-font: 'HK Grotesk', sans-serif;
}

/* ///////// Navbar ///////// */

/* Maintain your existing navbar styles and add flex properties if not already included */
.logoImg {
  width: auto !important;
  height: 4.8em !important;
}

.navbar {
  background-color: var(--secondary-color);
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between; /* This ensures logo and navigation are on opposite sides */
  padding-right: 5%;
  padding-left: 5%;
}


.navbar .navigation {
  position: relative; /* Ensure the navigation menu is positioned relative to the IconButton */
  display: flex; /* Align items in a row */
  align-items: center; /* Center align the items vertically */
  justify-content: flex-end; /* Position the navigation at the end (right side) of the navbar */
}

.navbar .navigation .menu {
  display: flex; /* This ensures that the menu items are laid out in a line */
  position: absolute; /* Position the menu in relation to its nearest positioned ancestor */
  top: 0; /* Align the top of the menu with the top of the navigation */
  right: 0; /* Align the menu to the right side (same as DragHandle) */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Full height to align with the navigation bar's height */
  list-style-type: none; /* Remove bullet points from list items */
  align-items: center; /* Align menu items vertically in the center */
  background-color: transparent; /* No background for the inline menu */
  transition: 0.6s; /* Smooth transition for appearance */
}

.menuItem {
  color: var(--primary-color); 
  text-decoration: none;
  padding: 0 15px; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  font-family: var(--primary-font);
  font-weight: 400;
}
